.App {
  text-align: center;
}

.Navbar-logo {
  float: left;
  margin-top: -5px;
}

.navbar-brand {
  font-size: smaller;
  margin: auto;
}

.search.input-group {
  width: 20%;
}

.signin {
  background: #ff6d5a;
  margin-left: auto;
  color: white;
}

.card {
  flex-direction: row;
  align-items: center;
}

.card-body {
  flex-direction: column;
}

.card-bar {
  display: flex;
  align-items: baseline;
  padding-top: 10px;
}
.card-bar p {
  display: inline;
  padding-right: 10px;
}

.card-title {
  font-weight: bold;
}

.cardbtn {
  width: 30%;
  background-color: #1fc078;
  padding: 0;
  font-size: 1.14em;
  border: none;
  color: white;
}

.card-progress {
  width: 60%;
  font-size: 0.7rem;
}

.progress {
  height: 0.4rem;
  margin-top: 10px;
}
.progress-bar {
  background-color: #1fc078;
}

.card img {
  width: 40%;
}
