#nav_right_side {
	width: 250px;
	display: flex;
	justify-content: space-around;
}

#bt_login {
	border: 1px solid gray;
}

.modal-body {
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

form {
	height: 85px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#nav_right_side {
	margin-right: 10px;
}

.modal-bottom {
	text-align: center;
}

a {
	color: dimgray;
}